<html>
<head>
  <title>Address Book</title>
</head>
<body>
  <div class="container">
    <div class="sidebar">
      <ul class="nav">
      <% contacts.forEach(function(contact) { %>
        <li><a href="/contact/<%= contact.id %>"><%= contact.name %></a></li>
      <% }) %>
      </ul>
    </div>
    <div class="main">
      <h1>Hello there!</h1>
      <% if(contact) { %>
        <div class="card">
          <div class="header">
            <%= contact.name %>
          </div>
          <div class="content">
            <img src="<%= contact.image_url %>" alt="Contact Image" />
          </div>
        </div>
      <% } else { %>
        Select a contact from the nav.
      <% } %>
    </div>
  </div>
</body>
</html>
