a {
  color: #5d5da8; }

/* Antipattern! */
/* The better way */
.sidebar .nav {
  list-style: none; }
  .sidebar .nav li {
    margin: 8px 0; }
    .sidebar .nav li a {
      text-decoration: none; }
      .sidebar .nav li a:hover {
        text-decoration: underline; }
      .sidebar .nav li a:visited {
        color: blue; }
    .sidebar .nav li.active a {
      color: red; }

.main {
  color: #333; }
